@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');


body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
}
.brand img{
    width: 40px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
nav ul li{
    padding: 0px 12px;
}
.container{
    min-height: 57vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    height: 43px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
   
}
.timestamp i{
    cursor: pointer;
}
.songItemContainer{
    margin-top: 50px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}